nav {
	margin:none;
	background-color: #ff9f80;
	font-family: ;
}
ul{
	margin: 0px;
	padding: 40px;
}
li{
	display: inline;
	margin: 20px;
}
div {
	padding-right: 0px;
	padding-bottom: 90px;
	display: inline-block;
	background-color: #fff4cc;

}
.foot {
	text-align: center;
	background-color:#8cd98c;
}